<!DOCTYPE html>
<html>
<head>
	<title>Naziv</title>
	<%= css :cssapp%>
</head>
<body>
<div class="main">
<p class="text-error">No more shall we part</p>
	<%= yield %>

<script src="http://code.jquery.com/jquery.js"></script>
<%= js :jsapp%>
</div>
</body>
</html>
